*,
body {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #151515;
}

h1 {
  font-size: 35px;
}

.name {
  font-family: "Lobster", cursive;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
.career {
  padding-top: 10px;
  font-size: 20px;
}

.social {
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.edu > h3 {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: #efa51a;
}
p {
  font-style: italic;
  font-size: 1rem;
}

.greet {
  background: linear-gradient(90deg, #070103, #3453bd, #070103);
  height: 100vh;
  width: 100vw;
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.my-image {
  width: 300px;
  height: 300px;
}

.rounded {
  border-radius: 50%;
  padding: 1px;
  border: 8px solid transparent;
  background: linear-gradient(60deg, #efa51a 10%, #cc0 100%);
}

.arrowD {
  background: linear-gradient(60deg, #efa51a 10%, #cc0 100%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 10px;
}

.arrowD > a {
  animation: scroll-down 1s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  width: 50px;
  margin-right: 20px;
}
.ig4 {
  width: 100px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(60deg, #efa51a 10%, #cc0 100%);
  padding: 10px;
  /* width: 100vw; */
}
section {
  padding: 20px;
  background-color: #151515;
}

.about-me {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  color: #efa51a;
}

.contact-me {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  color: #efa51a;
}
.about-text {
  margin-top: 10px;
  line-height: 2rem;
  color: #fff;
  font-family: "Lora", serif;
  font-style: italic;
}

.timeline-area {
  /* width: 360px; */
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
}

.timeline-area h2,
h3,
h4 {
  color: #000000;
}

.timeline-area h2 {
  font-family: "Lobster", cursive;
  font-size: 18px;
}

.timeline-area h3 {
  font-family: "Lora", serif;
}

.timeline-area > div {
  background-color: #efa51a;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.7;
  position: relative;

  margin-bottom: 20px;
}

.timeline-area > div:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #efa51a;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}

.timeline-area > div:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #efa51a transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}

.spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.texts {
  margin-top: 0px;
}

.edu > p {
  color: #fff;
}

.skills {
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 100%;
  color: #000;
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.contact {
  border-radius: 5px;
  background-color: #272424;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="submit"] {
  background-color: #efa51a;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #151515;
  color: #fff;
}

label {
  font-family: "Lobster", cursive;
}

footer {
  padding: 20px;
  background-color: #272424;
  text-align: center;
  margin-top: 20px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .info {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  .lft {
    flex: 0.4;
  }
  .rgt {
    flex: 0.5;
  }
}

/* Mobile device only */
@media only screen and (max-width: 768px) {
  .intro-flex {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }

  .my-image {
    width: 200px;
    height: 200px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  .name,
  .career {
    text-align: center;
  }

  .career {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
  }
  /* .arrowD {
    display: none;
  } */
  .social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .about {
    text-align: justify;
  }
  .about-heading {
    font-weight: 400;
    color: #fff;
    font-family: "Lobster", cursive;
    font-style: normal;
  }

  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
